body {
    background-image: url('https://img.goodfon.com/wallpaper/big/c/61/anime-art-fon-tekstura-pokemon.webp');
    background-size: cover;
    background-attachment: fixed;
}

#header{
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
}

#pokemon {
    background-color: rgba(216, 167, 87, 0.9);
    float: left;
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #513a05;
}

#sectionTitle {
    font-size: 30px;
    font-weight: bold;
}

#poke {
    display: none;
    background-color: rgba(235, 190, 54, 0.9);
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 20px;
    position: fixed;
    border: 1px solid #513a05;
}

#poke div h2 {
    text-align: right;
    margin-top: 0px;
}

#imagen {
    background-color: white;
    border: 1px solid #513a05;
}

section ul h2 {
    display: inline;
}

section ul h2:hover {
    color: white;
    cursor: pointer;
}